body{
	background-image: url('resources/images/TealTriangleBack.jpg');
	font-family: 'transat_textlight', Helvetica, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 7%;
}

hr {
	border-style: solid;
	border-width: 0.1%;
	border-color: black;
}

@keyframes animateMove {
    0% {margin-top: 200px;opacity: 0;}
    100% {margin-top: 0px;opacity: 1;}
}

#welcomePageText {
	animation-name: animateMove;
	animation-duration: 2s;
	background-image: url('resources/images/WhiteGradBack.jpg');
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 5px;
}

#welcomePageText h1 { 
	margin-bottom: -1%;
}

#welcomeTenantInfo {
	animation-name: animateMove;
	animation-duration: 2s;
	background-image: url('resources/images/GreyWoodBack.jpg');
	padding: 3%;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 5px;
}

#welcomeTenantInfo h3 {
	color: #FFEFD5;
}

#welcomeConfirmInfo {
	animation-name: animateMove;
	animation-duration: 2s;
	padding-top: 1%;
	padding-bottom: 1%;
	background-image: url('resources/images/WhiteGradBack.jpg');
	text-align: center;
	border-radius: 5px;
}

#welcomeButton {
	animation-name: animateMove;
	animation-duration: 2s;
}

.formText {
	background-image: url('resources/images/GreyHexBack.jpg');
	padding: 0.5%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 5px;
	margin-top: -7%;
	margin-left: -1.15%;
	margin-right: -1.2%;
	margin-bottom: 1%;
}

.formText h2 {
	color: #FFEFD5;
	margin-bottom: -1%;
}

.formText hr {
	border-style: solid;
	border-width: 0.1%;
	border-color: #FFEFD5;
}

#infoForm {
	background-image: url('resources/images/WhiteGradBack.jpg');
	border-radius: 5px;
	margin-left: 1%;
	margin-bottom: 1%;
	width: 49%;
	height: 500px;
	padding: 5%;
	padding-top: 0%;
}

#infoForm h2 {
	text-align: center;
}

#infoForm textarea{
	height: 200px;
}

#descriptionDiv {
	margin-top: 3%;
}

#btnInfoPanel {
	margin-top: 4%;
	text-align: center;
}

#btnInfoPanel button{
	margin-left: 1%;
}
#floorPlan {
	background-image: url('resources/images/GreyWoodBack.jpg');
	border-radius: 5px;
	margin-left: 0.5%;
	height: 500px;
	width: 49%;
	text-align: center;
}

#floorPlan h2 {
	color: white;
}

#submitButton {
	background-image: url('resources/images/GreyHexBack.jpg');
	margin: absolute;
	padding: 3%;
	margin-left: 0.65%;
	margin-right: 0.65%;
	border-radius: 5px;
	margin-bottom: 5%;
}

#submitButton button {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

