body{
	background-image: url('../resources/images/TealTriangleBack.jpg');
	font-family: 'transat_textlight', Helvetica, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 7%;
}

hr{
	border-style: solid;
	border-width: 0.1%;
	border-color: black;
}

#loginContent{
	background-image: url('../resources/images/WhiteGradBack.jpg');
	padding: 20%;
	padding-top: 8%;
	padding-bottom: 10%;
	width: 85%;
	border-radius: 50px;
}

.btnLogin{
	margin: auto;
	width: 50%;
}

.loginText{
	margin-bottom: 5%;
}

#loginPassword{
	margin-bottom: 8%;
}

#filterContent{
	background-image: url('../resources/images/GreyWoodBack.jpg');
	padding: 20%;
	padding-top: 8%;
	padding-bottom: 10%;
	width: 85%;
	border-radius: 50px;
}

#filterText{
	margin-bottom: 4%;
}

#filterContent hr{
	border-color: #FFEFD5;
}

#filterContent h1{
	color: #FFEFD5;
}

#filter1{
	background-image: url('../resources/images/WhiteGradBack.jpg');
	padding-right: 5%;
	padding-left: 5%;	
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	margin-bottom: 7%;
}

#buildingSelect{
	width: 40%;
	margin-right: -8%;
}

#itemSelect{
	width: 28%;
}

#conditionSelect{
	width: 40%;
}

#btnFilter{
	margin: auto;
	width: 30%;
}

.reportContent{
	background-image: url('../resources/images/WhiteGradBack.jpg');
	padding: 3%;
	width: 85%;
	border-radius: 50px;
}

.reportContent table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.reportContent td, th {
    border: 1px solid #696969;
    text-align: left;
    padding: 8px;
}
